html {
  font-family: 'Rubik Wet Paint', sans-serif;
  font-size: 24px;
}

.container,
h1 {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  color: black;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.accordion-title {
  /* margin-right: auto; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 
.content-img {
  display: none;
  transition: 0.5s, ease-in-out;
} */

/* .content-img label:hover {
  display: block;
  transition: 0.5s, ease-in-out;
}
 */
label {
  cursor: pointer;
  display: block;
  color: rgb(64, 64, 223);
/*   padding: 15px 20px; */
  width: 100%;
  box-sizing: border-box;
  /* border-bottom: 1px solid #b3b3d6; */
 /*  z-index: 100; */
  transition: 0.5s, ease-in-out;
}

label:hover {
  color: black;
}

input{
  display: none;
}

/* .container:hover + .plus {
  content: '+';
  color: black;
} */

.plus {
  display: none;
  transition: all 0.3s ease-in-out;
}

.container:hover .plus {
  display: block;
  transition: all 0.3s ease-in-out;
}

input[name="accordion"]:checked + .accordion-title .plus,
.accordion-item:hover .plus {
  transition: transform .3s;
  transform: rotate(45deg);
}

.container:hover .accordion-title {
  color: black;
}

.accordion-item:checked + .accordion-title,
.accordion-item:hover + .accordion-title {
  color: black;
}
/* .container input:checked + label {
  background-color: #285f8f;
  color: #FFF;
} */

/* input:checked .content-img, */
/* .accordion-item:hover .content-img {
  height: auto;
  margin: 0 auto;
}  */

.accordion-item .content-img {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.accordion-item input[type="radio"]:checked + .accordion-title {
  /* Стили для текста блока */
  color: black;
}

.accordion-item input[type="radio"]:checked + .accordion-title + .content-img,
.accordion-item:hover .content-img {
  /* Стили для изображения блока */
  opacity: 1;
  display: block;
}